<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by 365Bootstrap dot com - Free Responsive Html5 Templates">
    <meta name="author" content="http://www.365bootstrap.com">

    <title>Điện máy NT</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Assets/css/style.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="fonts/font-slider.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="~/Assets/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="~/Assets/js/bootstrap.min.js"></script>
 

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--Top-->
    <nav id="top" style="background-color:lightgray;">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <ul class="top-link" style="margin-right:-700px;">
                        @if (Session["KhachHang"] == null)
                        {
                            <li><a><span class="glyphicon glyphicon-user"></span> @Html.ActionLink("Đăng nhập", "DangNhap", "KhachHang")</a></li>
                            <li><a><span class="glyphicon glyphicon-user"></span> @Html.ActionLink("Đăng ký", "DangKy", "KhachHang")</a></li>
                            <li><a><span class="glyphicon glyphicon-envelope"></span>@Html.ActionLink("Gửi phản hồi", "GuiPhanHoi", "KhachHang")</a> </li>
                        }
                        @if (Session["KhachHang"] != null)
                        {
                            <nav id="menu" class="navbar" style="margin-bottom:-20px; background-color:lightgray;">
                                <div>
                                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                                        <ul class="nav navbar-nav">
                                            <li class="dropdown">
                                                @Html.ActionLink("Thông tin khách hàng", "ThongTin", "KhachHang")
                                                <div class="dropdown-menu">
                                                    <div class="dropdown-inner">
                                                        <ul class="list-unstyled">
                                                            <li><a href="/KhachHang/GuiPhanHoi">Gửi phản hồi</a></li>
                                                            <li><a href="/KhachHang/TheTichDiem">Thẻ thành viên</a></li>
                                                            <li><a href="/KhachHang/Home_DoiMatKhau">Đổi mật khẩu</a></li>
                                                            <li><a href="/KhachHang/DangXuat">Đăng xuất</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!--Header-->
    <header class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="logo"><img src="~/Assets/images/logo.png" style="width:150px; height:150px;" /></div>
            </div>
            <div class="col-md-4">
                <form class="form-search">
                    <input type="text" class="input-medium search-query">
                    <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                </form>
            </div>
            <div class="col-md-4">
                @if (Session["SoLuong"] != null)
                {
                    <div id="cart"><a class="btn btn-1" href="/GioHang/GioHang"><span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng : @Session["SoLuong"].ToString()</a></div>
                }
                else
                {
                    <div id="cart"><a class="btn btn-1" href="/GioHang/GioHang"><span class="glyphicon glyphicon-shopping-cart"></span>Giỏ hàng : 0</a></div>
                }
            </div>
        </div>
    </header>
    <!--Navigation-->
    <nav id="menu" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <span id="heading" class="visible-xs">Categories</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li class="dropdown">
                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tủ lạnh - Tủ đông</a>*@
                        @Html.Action("DanhMuc", "Home")
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
    <footer>
        <div class="container">
            <div class="wrap-footer">
                <div class="row">
                    <div class="col-md-3 col-footer footer-1">
                        @*<img src="~/Assets/images/logoshop.png" />*@
                        <div class="heading"><h4>DienMay NT</h4></div>
                        <p style="text-align: justify">Công ty cổ phần thương mại NT với triết lý kinh doanh "Tất cả cho khách hàng, khách hàng cho tất cả", Thương hiệu số một trong ngành Bán lẻ điện tử tiêu dùng và Trung tâm Thương mại, đạt nhiều giải thưởng trong nước và quốc tế, được người tiêu dùng tin tưởng và đánh giá cao.</p>
                    </div>
                    <div class="col-md-3 col-footer footer-2">
                        <div class="heading"><h4>Dịch vụ khách hàng</h4></div>
                        <ul>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Chính sách bảo mât</a></li>
                            <li><a href="#">Điều khoản &Aacute; Điều kiện</a></li>
                            <li><a href="#">Liên hệ với chúng tôi</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-3">
                        <div class="heading"><h4>Tài khoản của tôi</h4></div>
                        <ul>
                            <li><a href="#">Tài khoản của tôi</a></li>
                            <li><a href="#">Thương hiệu</a></li>
                            <li><a href="#">Phiếu quà tặng</a></li>
                            <li><a href="#">Sản phẩm đặc biệt</a></li>
                            <li><a href="#">Sơ đồ trang web</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-4">
                        <div class="heading"><h4>Liên hệ với chúng tôi</h4></div>
                        <ul>
                            <li><span class="glyphicon glyphicon-home"></span>Sư Vạn Hạnh, P13, Q10, TP.HCM</li>
                            <li><span class="glyphicon glyphicon-earphone"></span>090654789321</li>
                            <li><span class="glyphicon glyphicon-envelope"></span>infor@yoursite.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <ul>
                                <li><img src="~/Assets/images/visa-curved-32px.png" /></li>
                                <li><img src="~/Assets/images/paypal-curved-32px.png" /></li>
                                <li><img src="~/Assets/images/discover-curved-32px.png" /></li>
                                <li><img src="~/Assets/images/maestro-curved-32px.png" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

@if (Session["Message"] != null)
{
    <script type="text/javascript">

        window.onload = function () {
            alert("@Session["Message"]");
        };  
    </script>
}
@{
    Session["Message"] = null;
}