@model QLDienMay.Models.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<div class="login100-form validate-form" style="height:450px;">
    <span class="login100-form-title">
        <h1 style="font-weight: bold">Đăng nhập</h1>
    </span>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập tài khoản">
                @Html.TextBoxFor(model => model.UserName, new { @class = "input100", @placeholder = "Nhập tài khoản" })
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập mật khẩu">
                @Html.PasswordFor(model => model.PassWord, new { @class = "input100", @placeholder = "Nhập mật khẩu" })
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
        if (ViewData["LoiDN"] != null)
        {
            <div>
                <p style="color:red;font:bold;font-size:15px;">*** @ViewData["LoiDN"]</p>
            </div>
        }
        <div class="form-group">
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <br />
                <input type="submit" name="submit" class="login100-form-btn" style="width:100%" value="ĐĂNG NHẬP" />
            </div>
        </div>
    }
    <div class="text-center p-t-12">
        <h3 style="font:bold;font-size:15px;">Quên @Html.ActionLink("Tài khoản", "QuenTaiKhoan", "KhachHang") / @Html.ActionLink("Mật khẩu", "QuenMatKhau", "KhachHang")?</h3>
    </div>
    <br />
    <div class="text-center p-t-12">
        <h3 style="font:bold;font-size:15px;">Chưa có tài khoản? @Html.ActionLink("Đăng ký ngay!", "DangKy", "KhachHang") </h3>
    </div>
</div>