@model QLDienMay.Models.KHACHHANG

@{
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}

<div class="login100-form validate-form">
    <span class="login100-form-title">
        <h2 style="font-weight: bold">Đăng ký</h2>
    </span>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập họ tên">
            @Html.TextBoxFor(model => model.TENKHACHHANG, new { @class = "input100", @placeholder = "Nhập họ và tên" })
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            @Html.ValidationMessageFor(model => model.TENKHACHHANG, "", new { @class = "text-danger" })
        </div>

        <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập số điện thoại">
            @Html.TextBoxFor(model => model.SDT, new { @class = "input100", @placeholder = "Nhập số điện thoại" })
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-phone-square" aria-hidden="true"></i>
            </span>
            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
        </div>
        <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập địa chỉ">
            @Html.TextBoxFor(model => model.DIACHI, new { @class = "input100", @placeholder = "Nhập địa chỉ" })
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-building-o" aria-hidden="true"></i>
            </span>
            @Html.ValidationMessageFor(model => model.DIACHI, "", new { @class = "text-danger" })
        </div>


        <div style="display:inline">
            <h3 style="font-weight: bold; display:inline">Thành phố: </h3>
            @Html.DropDownList("maTP", new SelectList(ViewBag.TP, "MATHANHPHO", "TENTHANHPHO"), new { @style = "height:50px" })
        </div>

        <div class="wrap-input100 validate-input" data-validate="Định dạng email bắt buộc: ex@abc.xyz">
            @Html.TextBoxFor(model => model.EMAIL, new { @class = "input100", @placeholder = "Nhập email" })
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
            @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
        </div>

        <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập tài khoản">
            @Html.TextBoxFor(model => model.TAIKHOAN, new { @class = "input100", @placeholder = "Nhập tài khoản" })
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-user-md" aria-hidden="true"></i>
            </span>
            @Html.ValidationMessageFor(model => model.TAIKHOAN, "", new { @class = "text-danger" })
        </div>
        <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập mật khẩu">
            @Html.PasswordFor(model => model.MATKHAU, new { @class = "input100", @placeholder = "Nhập mật khẩu" })
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
            @Html.ValidationMessageFor(model => model.MATKHAU, "", new { @class = "text-danger" })
        </div>

        <div class="wrap-input100 validate-input" data-validate="Vui lòng nhập xác thực mật khẩu">
            <input class="input100" type="password" minlength="8" maxlength="32" name="authPassWord" placeholder="Xác thực mật khẩu">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        </div>
        if (ViewData["LoiDK"] != null)
        {
            <div>
                <p style="color:red;font:bold;font-size:15px;">*** @ViewData["LoiDK"]</p>
            </div>
        }
        <div class="form-group">
            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                <br />
                <input type="submit" name="submit" class="login100-form-btn" style="width:100%" value="ĐĂNG KÝ" />
            </div>
        </div>
    }
</div>