@model PagedList.IPagedList<QLDienMay.Models.CHITIETKHO>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    DANH SÁCH SẢN PHẨM KHO
}

@using (Html.BeginForm("ChiTietKho", "Kho"))
{
    <div class="form-horizontal">
        <div class="form-group" style="margin:15px;">
            <p class="small mb-1">Nhập mã sản phẩm cần tìm trong kho</p>
            <input type="search" name="idSanPham" style="width:400px; height:40px;" />
            <input type="submit" class="btn btn-primary" value="Tìm kiếm" style="width:100px;height:45px;" />
        </div>
    </div>
}


@Html.ActionLink("Thêm mới", "Create", "Kho", new { @class = "btn btn-primary" })
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1">Bảng danh sách hàng trong kho</i>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Mã kho
                                </th>
                                <th>
                                    Mã sản phẩm
                                </th>
                                <th>
                                    Số lượng
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr class="search">
                                    <td></td>
                                    <td>@item.MAKHO</td>
                                    <td>@item.MASANPHAM</td>
                                    <td>@item.SOLUONG</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Mã kho
                                </th>
                                <th>
                                    Mã sản phẩm
                                </th>
                                <th>
                                    Số lượng
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        function Containts(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#search").keyup(function () {
            var searchText = $("#search").val().toLowerCase();
            $(".search").each(function () {
                if (!Containts($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>
